<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reggie.dao.SetmealMapper">
    <update id="updateStatusByIds">
        update setmeal set status=#{status} where id in <foreach collection="ids" item="id"
                                                              separator="," open="(" close=")" > #{id}
    </foreach>
    </update>
</mapper>